<div class="header">
    <a class="logo" routerLink="/home">
        <img src="assets\images\logo.jpg" alt="" srcset="">
    </a>

    <app-search class="search" *ngIf="showSearchbox"
        (searchEmitter)="getTextSearch($event)"></app-search>

    <div class="tools">
        <button mat-button class="tool-btn">
            <mat-icon svgIcon="icon-heart-unlike"></mat-icon>
            <span>Yêu thích</span>
        </button>

        <button mat-button class="tool-btn">
            <mat-icon svgIcon="icon-shopping-cart"></mat-icon>
            <span>Giỏ hàng</span>
        </button>

        <button *ngIf="!isCurrentAccount(); else currentAccount" 
            mat-button class="tool-btn" routerLink="/login">
            <span>Đăng nhập</span>
        </button>

        <ng-template #currentAccount>
            <div class="account">
                <img [src]="account.avatar" alt="" srcset="">
                <span> {{ account.fullname }} </span>
            </div>

            <button mat-button class="tool-btn" (click)="logout()">
                <span>Đăng xuất</span>
            </button>
        </ng-template>
    </div>
</div>