.header {
    padding: 10px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    height: 70px;

    .logo img{
        height: 50px;
    }
    
    .search {
        width: 30%;
    }
    
    .tools {
        display: flex;
        gap: 12px;
    }
}

.tools .account {
    display: flex;
    gap: 10px;
    align-items: center;

    img {
        width: 30px;
        border-radius: 50%;
    }       
}
