.wrapper {
    padding: var(--padding-wrapper);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-card {
    min-width: 70vw;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .images-content {
        width: 340px;
        height: 210px;
    }

    .location {
        height: 40%;
    }
    
    .rate {
        display: flex;
        gap: 10px;
    }

    .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    mat-icon {
        height: 18px;
        width: 18px;
    }

    mat-card-header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
    }
}

.action-icon-btn {
    position: relative;
    left: -46px;
    top: 10px;
    height: 36px;
    width: 36px;
    padding: 9px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    mat-icon {
        height: 18px;
        width: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:focus {
        outline: none;
    }
}