.header {
    display: flex;
    justify-content: space-between;

    .location {
        display: flex;
        align-items: center;
        padding-top: 8px;
        gap: 6px;

        mat-icon {
            width: 18px;
            height: 18px;
            padding-bottom: 2px;
        }
    }
}

.sub-header {
    width: 50vw;
    display: flex;
    gap: 12px;
    padding-bottom: 20px;
}

.content {
    display: flex;
    gap: 15px;
    height: 548px;

    .images {
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .images .show {
        width: 100%;
        border-radius: 12px;
        height: calc(100% - 128px);
    }

    .images .list {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        gap: 8px;
    }

    .images .list img {
        flex: 0 0 15%;
        height: 115px;
        border-radius: var(--border-radius-primary);
        padding-bottom: 4px;
        cursor: pointer;
    }

    .about,
    .about .text-about {
        overflow: auto;
    }

    .about {
        display: flex;
        flex-direction: column;
        width: 35%;
        border-radius: 12px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 20px;
    }

    .about h4 {
        padding-bottom: 18px;
    }

    .about .text-about {
        padding-right: 12px;
    }
}

.action {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.action-icon-btn {
    height: 40px;
    width: 40px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;

    mat-icon {
        height: 20px;
        width: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &:focus {
        outline: none;
    }
}