.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper .header {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        font-size: 20px;
    }

    .mat-mdc-button-base {
        --mdc-filled-button-container-color: var(--primary-color);
        --mdc-filled-button-label-text-color: white;
    }
}

.list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.item-card {
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }

    mat-card-subtitle {
        padding: 0 16px;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .item-name {
        font-size: 18px;
    }
}