.title {
    margin-bottom: 50px;
}

.search {
    width: 100%;
    margin-bottom: 16px;

    mat-icon {
        height: 16px;
        width: 16px;
        cursor: pointer;
    }
}

.app-paging {
    margin-top: 16px;
}

.manage-table {
    border-top: 1px solid var(--primary-color-rgba);
    border-bottom: 1px solid var(--primary-color-rgba);

    .mat-column-avatar img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .mat-column-name {
        padding: 10px;
        width: 60%;
        font-size: 18px;
        font-weight: 550;
    }

    .mat-column-name .sub {
        font-size: 14px;
    }

    .action-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        --mdc-filled-button-container-color: var(--primary-color);
        
        mat-icon {
            margin: 0;
            padding: 0;
            color: white;
        }
    }
}

::ng-deep .search mat-form-field {
    width: 30%;
    
    .mat-mdc-form-field-infix {
        min-height: 0;
    }

    .mat-mdc-form-field-subscript-wrapper {
        height: 0;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
        top: 18px;
    }
}

::ng-deep .mat-column-role mat-form-field {
    .mat-mdc-form-field-infix {
        min-height: 0;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .mat-mdc-form-field-subscript-wrapper {
        height: 0;
    }
}