<app-header></app-header>
<div class="wrapper">
    <div class="app">
        <app-detail [resortResponse]="resortResponse"></app-detail>
    </div>
    <mat-divider></mat-divider>

    <div class="app">
        <app-services [serviceResponse]="servicesResort"></app-services>
    </div>
    <mat-divider></mat-divider>

    <div class="app">
        <app-rooms [roomResponse]="roomsResort"></app-rooms>
    </div>
    <mat-divider></mat-divider>

    <div class="app">
        <app-reviews 
            [reviewResponse]="reviewsResort" 
            [rateNumResponse]="rateNumResponse"
            [resortResponse]="resortResponse"
            [currentPage]="currentReviewPage"
            [isReview]="isReview"
            (reviewEmitter)="writeReview($event)"
            (pageEmitter)="goPageReview($event)">
        </app-reviews>
    </div>
</div>
<app-footer></app-footer>