<app-header></app-header>
<div class="wrapper">
    <div class="app">
        <app-detail 
            [tourismResponse]="tourism"
            (favouriteEmitter)="saveFavourite($event)">
        </app-detail>
    </div>
    <mat-divider></mat-divider>

    <div class="app">
        <app-resorts [resortResponse]="resortsTourism"></app-resorts>
    </div>
    <mat-divider></mat-divider>

    <div class="app">
        <app-reviews [reviewResponse]="reviewsTourism" [tourismResponse]="tourism"
            (reviewEmitter)="writeReview($event)"></app-reviews>
    </div>
</div>
<app-footer></app-footer>