.resorts {
    margin-top: 20px;
}

.resorts .item-card {
    width: 300px;

    img {
        width: 100%;
    }

    mat-card-subtitle {
        padding: 0 16px;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    mat-card-actions {
        display: flex;
        gap: 10px;
    }
}