<form [formGroup]="passwordForm" class="wrapper" autocomplete="off">
    <h3>Cập nhật mật khẩu</h3>

    <div class="input-field">
        <h5>Mật khẩu hiện tại</h5>
        <mat-form-field appearance="outline">
            <input matInput formControlName="current" [type]="showPass ? 'text' : 'password'">
            <mat-icon matSuffix (click)="showPass = !showPass"
                [svgIcon]="showPass ? 'icon-show-pass' : 'icon-hidden-pass'">
            </mat-icon>
            <mat-hint>Mật khẩu ít nhất 8 ký tự</mat-hint>
        </mat-form-field>
    </div>

    <div class="input-field">
        <h5>Mật khẩu mới</h5>
        <mat-form-field appearance="outline">
            <input matInput formControlName="new" [type]="showPass ? 'text' : 'password'" 
                placeholder="Mật khẩu ít nhất 8 ký tự">
                <mat-icon matSuffix (click)="showPass = !showPass"
                [svgIcon]="showPass ? 'icon-show-pass' : 'icon-hidden-pass'">
            </mat-icon>
            <mat-hint>Bao gồm chữ cái chữ số</mat-hint>
        </mat-form-field>
    </div>

    <div class="input-field">
        <h5>Nhập lại mật khẩu</h5>
        <mat-form-field appearance="outline">
            <input matInput formControlName="reNew" [type]="showPass ? 'text' : 'password'">
            <mat-icon matSuffix (click)="showPass = !showPass"
                [svgIcon]="showPass ? 'icon-show-pass' : 'icon-hidden-pass'">
            </mat-icon>
            <mat-hint>Mật khẩu ít nhất 8 ký tự</mat-hint>
        </mat-form-field>
    </div>

    <div class="action">
        <button mat-flat-button (click)="confirmChangePass()" [disabled]="passwordForm.invalid">
            Cập nhật</button>
    </div>
</form>