.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}

.input-field mat-form-field {
    min-width: 50%;

    mat-hint {
        padding-top: 4px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: 14px;
    }
}

.action {
    button {
        min-width: 120px;
    } 

    .mat-mdc-unelevated-button {
        --mdc-filled-button-container-color: var(--primary-color);
        --mdc-filled-button-label-text-color: white;
    }
}