mat-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    height: 70px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 10px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    height: 70px;
    width: 100vw;
    background-color: white;

    span {
        font-weight: 500;
    }

    .logo img {
        height: 50px;
    }

    .search {
        width: 30%;
    }

    .tools {
        display: flex;
        gap: 12px;
    }
}

.tools span {
    color: var(--text-color);
}

.tools .account {
    display: flex;
    gap: 10px;
    align-items: center;

    img {
        width: 30px;
        border-radius: 50%;
        border: 2px solid var(--primary-color);
    }
}

.action-icon-btn {
    height: 40px;
    width: 40px;
    padding: 10px;

    mat-icon {
        height: 20px;
        width: 20px;
    }
}

.mat-mdc-menu-item mat-icon {
    height: 18px;
    width: 18px;
}