<div class="wrapper">
    <h5>Thông tin cá nhân</h5>
    <span routerLink="/profile/me">Trang cá nhân</span>
    <span routerLink="/profile/me/update">Cập nhật thông tin</span>
    <span routerLink="/profile/me/update/password">Đổi mật khẩu</span>

    <mat-divider></mat-divider>
    <h5 routerLink="/manage/account">Quản lý người dùng</h5>

    <mat-divider></mat-divider>
    <h5 routerLink="/manage/tourism">Quản lý địa điểm du lịch</h5>

    <mat-divider></mat-divider>
    <h5 routerLink="/manage/resort">Quản lý khu nghỉ dưỡng</h5>

    <mat-divider></mat-divider>
    <h5 routerLink="/manage/service">Quản lý dịch vụ</h5>
</div>