.wrapper {
    padding: 20px;
    width: 20vw;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
}
