<footer id="Footer" style="background-color: var(--primary-color);" class="page-footer font-small stylish-color-dark pt-4">
    <div style="background-color: var(--primary-color);" class="container text-center text-md-left">
        <div class="row">
            <div class="logo">
                <img src="assets/images/logo.jpg">
            </div>
            <div class="col-md-4 mx-auto">
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold mt-3 mb-4">BI TRAVEL</h5>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
                <p>
                    Đây là ứng dụng hỗ trợ cho bạn các thông tin về du lịch,
                    khu nghỉ dưỡng và các dịch vụ liên quan.
                    Mong bạn có những trải nghiệm tuyệt vời với chúng tôi.
                </p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <hr class="clearfix w-100 d-md-none">
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Thông tin liên hệ</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i>Cẩm Lệ, Đà Nẵng
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> trquan173@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 84 988 538 948
                </p>
            </div>
        </div>
    </div>
    <hr>
    <!-- Social buttons -->
    <div class="hover-effect1">
        <ul style="background-color: var(--primary-color);" class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/codewithfaraz" title="Github"><i
                        class="fa-brands fa-square-github"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.twitter.com/codewithfaraz" title="LinkedIn"><i
                        class="fa-brands fa-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.instagram.com/codewithfaraz" title="Facebook"><i
                        class="fa-brands fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.youtube.com/@codewithfaraz" title="Youtube"><i
                        class="fa-brands fa-youtube"></i></a>
            </li>
        </ul>
    </div>
    <!-- Copyright -->
    <div style="background-color: var(--primary-color);" class="footer-copyright text-center py-3">
        Copyright© 2023: Design and Develop by TrQuan17
    </div>
</footer>