.wrapper {
    padding: var(--padding-wrapper);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.categories {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.category {
    --mdc-outlined-button-outline-color: var(--primary-color);
    --mdc-outlined-button-label-text-color: var(--primary-color);
    --mat-mdc-button-persistent-ripple-color: var(--primary-color);

    padding: 10px;
    min-width: calc((100% - 85px) / 7);
    height: 60px;
    border-width: 2px;
    border-radius: 10px;

    &:focus {
        background-color: var(--primary-color);
        --mdc-outlined-button-label-text-color: white;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-card {
    min-width: 70vw;
    display: flex;
    flex-direction: row;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .item-card {
        display: flex;
        flex-direction: row;
    }
    
    .images-content {
        width: 340px;
        height: 210px;
    }
}

.action-icon-btn {
    position: relative;
    left: -46px;
    top: 10px;
    height: 36px;
    width: 36px;
    padding: 9px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    mat-icon {
        height: 18px;
        width: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:focus {
        outline: none;
    }
}