.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contribute .write-review {
    --mdc-outlined-button-outline-color: var(--primary-color);
    --mdc-outlined-button-label-text-color: var(--primary-color);
    --mat-mdc-button-persistent-ripple-color: var(--primary-color);

    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
        height: 50vh;
    }

    &:focus {
        outline: none;
        background-color: var(--primary-color);
        --mdc-outlined-button-label-text-color: white;
    }
}

.show-reviews {
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-height: 40vh;

    .rating {
        min-width: 25%;
    }
}

.review {
    display: flex;
    flex-direction: column;

    .account {
        display: flex;
        padding-bottom: 20px;
    }

    .images {
        padding: 10px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
    }

    .images img {
        width: 150px;
    }

    .time {
        padding-top: 10px;
        font-size: 14px;
    }

    .time mat-divider {
        margin-right: 60%;
    }
}

.account .avatar img {
    border-radius: 50vh;
    width: 42px;
    height: 42px;
}

.account .content {
    padding-left: 12px;
    display: flex;
    flex-direction: column;

    h6 {
        margin: 0;
    }

    span {
        font-size: 13px;
    }
}

.rating .rates-num {
    height: 12px;
    border-radius: 6px;
}

.rating-statistics .text {
    display: flex;
    justify-content: space-between;
}

::ng-deep .rating mat-progress-bar {
    .mdc-linear-progress__bar-inner {
        border: 12px solid var(--primary-color);
    }
}