.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contribute .write-review {
    --mdc-filled-button-container-color: var(--primary-color);
    --mdc-filled-button-label-text-color: white;
    
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
        color: white;
    }


}

.show-reviews {
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-height: 40vh;

    .rating {
        min-width: 25%;
    }
}

.review {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .account {
        display: flex;
        padding-bottom: 20px;
        cursor: pointer;
    }

    .images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
    }

    .images img {
        padding: 10px 0;
        width: 150px;
    }

    .time {
        font-size: 14px;
    }

    .time mat-divider {
        margin-right: 60%;
    }
}

.account .avatar img {
    border-radius: 50vh;
    width: 42px;
    height: 42px;
}

.account .content {
    padding-left: 12px;
    display: flex;
    flex-direction: column;

    h6 {
        margin: 0;
    }

    span {
        font-size: 13px;
    }
}

.rating {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rating .rates-num {
    height: 12px;
    border-radius: 6px;
}

.rating .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating .header .show-rate {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.rating-statistics .text {
    display: flex;
    justify-content: space-between;
}

::ng-deep .rating mat-progress-bar {
    .mdc-linear-progress__bar-inner {
        border: 12px solid var(--primary-color);
    }
}