// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Support_Tourism_FE-primary: mat.define-palette(mat.$indigo-palette);
$Support_Tourism_FE-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Support_Tourism_FE-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Support_Tourism_FE-theme: mat.define-light-theme((color: (primary: $Support_Tourism_FE-primary,
        accent: $Support_Tourism_FE-accent,
        warn: $Support_Tourism_FE-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Support_Tourism_FE-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

// CSS variable

* {
  --text-color: #485764;
  --theme-bg: #F9FCFF;
  --border-color: #D6D6D6;
  --primary-color: #4392BB;
  --input-bg: #F2F2F2;
  --error-color: #eb5757;

  --border-radius: 3px;
  --btn-radius: 3px;
  --text-size: 16px;
  --padding-wrapper:20px 90px;
}

// Mat button
.mat-mdc-button .mat-mdc-button-touch-target {
  height: 38px !important;
}

.mat-mdc-button {
  min-width: 0 !important;

  mat-icon {
      height: 20px;
      width: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  &:focus {
    outline: none;
  }
}
