<div class="header">
    <h4 *ngIf="dialogData">
        <mat-icon svgIcon="icon-edit"></mat-icon>
        <span>Cập nhật địa điểm du lịch</span>
    </h4>
    <h4 *ngIf="!dialogData">
        <mat-icon svgIcon="icon-add"></mat-icon>
        <span>Thêm địa điểm du lịch</span>
    </h4>
    <mat-icon svgIcon="icon-close" matDialogClose></mat-icon>
</div>

<div class="wrapper">
    <div class="image">
        <div class="preview">
            <img [src]="imagePreview ? imagePreview : dialogData?.background">
        </div>

        <button class="upload-file-btn" (click)="fileInput.click()">
            <mat-icon class="custom" svgIcon="icon-upload-file"></mat-icon>
            <span>Thêm ảnh</span>
        </button>
        <input #fileInput type="file" (change)="onFileChange($event)" hidden>            
    </div>

    <mat-divider vertical></mat-divider>

    <form [formGroup]="categoryForm" class="text">
        <div class="name">
            <h5>Nhập tên danh mục du lịch</h5>
            <mat-form-field appearance="outline">
                <input matInput formControlName="name" type="text">
            </mat-form-field>
        </div>

        <div class="about">
            <h5>Nhập mô tả danh mục</h5>
            <mat-form-field appearance="outline">
                <textarea formControlName="about" matInput rows="4"></textarea>
            </mat-form-field>
        </div>

        <div class="action">
            <button mat-flat-button class="fill-btn" (click)="saveCategory()" matDialogClose>
                <mat-icon svgIcon="icon-save"></mat-icon>
                <span>Lưu</span>
            </button>
        </div>
    </form>
</div>
