.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);

    h4 {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    mat-icon {
        cursor: pointer;
    }
}

.wrapper {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    padding: 0 20px;
}

.list {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    min-height: 40vh;
    background-color: var(--theme-bg);

    .item {
        height: 100px;
        flex: 0 0 calc(100% / 3 - 6px);
        border-radius: var(--border-radius-primary);
        display: flex;
        gap: 8px;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        background-color: white;
    }

    button {
        --mdc-filled-button-container-color: white;
        --mdc-filled-button-label-text-color: var(--primary-color);
        border: 2px solid var(--primary-color);
    }

    .item .image {
        height: 100px;
        width: 40%;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }

    .image img { 
        height: 100%;
        width: 100%;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }

    .item .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .text h6 {
        cursor: pointer;
        &:hover {
            color: #00a8f2;
        }
    }

    .text .price {
        font-size: 14px;
        font-weight: 500;
    }

    .item .delete {
        height: 30px;
        width: 0;
        position: relative;
        left: - 40%;
        top: - 27px;
        z-index: 1;
    }

    .item .delete button {
        min-width: 0;
        padding: 5px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        mat-icon {
            margin: 0;
            margin-bottom: 2px;
            padding: 0;
            color: #eb5757;
        }
    }
}